.detailContainer{
    margin-top: 10px;
}

.detailContainer img{
    height: 30rem;
    width: 30rem;
}

.price{
    font-size: 22px;
    font-weight: 400;
}

@media all and (max-width: 767px){
    .detailContainer img{
        height: auto;
        width: auto;
    }
}