.navbar {
    background-color: rgb(33, 40, 46);
}

.offcanvas {
    background-color: rgb(33, 40, 46);
}

.list {
    font-family: Helvetica;
    color: rgb(255, 181, 70);
}

.list:hover{
    font-weight: 600;
    color: rgb(255, 181, 70);    
}

@media all and (max-width: 767px) {
    .list{
        font-size: 20px;
        margin: 0 auto !important;
    }
    .logo{
        display:none;
    }
}