button{
    max-height: 2.3rem;
}

.button-count{
    background-color: rgb(33, 40, 46) !important;
    color: rgb(255, 181, 70) !important;
    margin: 5px !important;
    border-radius: 4px;
}

.spanCount{
    width: 50px;
    text-align: center;
    padding: 5px;
    background-color: rgb(33, 40, 46);
    color: rgb(255, 181, 70);
    border-radius: 5px;
}